<% include head %>

<div class="container">
    <div class="row">
        <div class="container">
            <h1 style="text-align: center;">Edit <%= Campgrounds._id %></h1>
        </div>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= Campgrounds._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input
                        class="form-control"
                        type="text"
                        name="campground[name]"
                        value="<%= Campgrounds.name %>"
                    />
                </div>
                <div class="form-group">
                    <input
                        class="form-control"
                        type="number"
                        name="campground[price]"
                        value="<%= Campgrounds.price %>"
                        min="0.01"
                        step="0.01"
                    />
                </div>
                <div class="form-group">
                    <input
                        class="form-control"
                        type="text"
                        name="campground[image]"
                        value="<%= Campgrounds.image %>"
                    />
                </div>
                <div class="form-group">
                    <input
                        class="form-control"
                        type="text"
                        name="campground[description]"
                        placeholder="<%= Campgrounds.description %>"
                    />
                </div>
                <button class="btn btn-primary btn-block">Submit</button>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
</div>
<% include foot %>
